@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary:      #F4600C;
  --primary-dark: #D95209;
  --navy:         #0D1B2A;
  --cloud:        #F5F0EB;
}

body {
  background-color: #F5F0EB;
}
